
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
  }
}

.header__nav-list {
  position: absolute;
  list-style: none;
  margin: 0;
  left: 0;
  top: 66px;
  width: 100%;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    position: relative;
    flex-direction: row;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
    justify-content: center;
    gap: 20px;
  }
}

.header__nav-item {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.header__nav-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: @base-color-3;
  padding: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: @base-primary-color;
  }

  &:active {
    background-color: @base-secondary-color;
  }

  @media (min-width: @tablet-width) {
    padding: 32px 20px;
  }
}

.header__nav-link--selected {
  @media (min-width: @tablet-width) {
    color: @base-primary-color;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: @base-primary-color;
      bottom: 0;
      left: 0;
    }
  }
}

.header__site-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.header__toggle-menu {
  display: block;
  width: 60px;
  height: 65px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;

  &:active {
    background-color: @base-secondary-color;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__nav--closed {
  & .header__nav-list {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  & .header__toggle-menu {
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: -12px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 16px;
      height: 2px;
      background-color: #000000;
      box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
    }
  }
}

.header__site-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.header__site-link {
  display: block;
  text-decoration: none;
  color: @base-color-3;
  padding: 22px;

  &:active {
    background-color: @base-secondary-color;
  }

  @media (min-width: @tablet-width) {
    padding: 32px 22px;

    &:hover,
    &:focus {
      color: @base-primary-color;
    }

    &:active {
      background-color: @base-secondary-color;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 32px 20px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.header__logo {
  display: flex;
  text-decoration: none;
  margin-right: auto;
}

.header__logo-text {
  display: none;
  width: 126px;
  font-size: 12px;
  line-height: 16px;
  color: @base-color-3;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

