@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
@base-color: #FFFFFF;
@base-color-2: #BDBDBD;
@base-color-3: #333333;
@base-primary-color: #7859CF;
@base-secondary-color: #F0EBFF;
@primary-opacity: rgba(120, 89, 207, 0.25);
@primary-lighter: #9070EC;
@primary-darker: #593CAC;
@primary-light: #E2E2E2;
@background-base: #F8F8F8;
@background-primary: #F3EBE1;
@background-primary-2: #EAE6FC;
@background-primary-3: #E5E6E8;

